<h3>When are you working?</h3>

<form action="/fee" method="POST">
<div>
    <input type="radio" name="shift" value="morning"> Morning
</div>

<div>
    <input type="radio" name="shift" value="afternoon"> afternoon
</div>

<div>
    <input type="radio" name="shift" value="night"> Night
</div>



<div>
    <input type="submit" name="get price"> 
</div>
</form>